@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courgette';
    border: 0px;
    color: var(--color-02);
}

:root {
    --color-background: #3d3d3d;
    --color-background-secondary: #454545;
    --color-background-secondary02: #5a5959;
    --color-01: #ffda79;
    --color-02: #fff;
    --color-03: #d8d8d8;
    --color-04: #ffaf40;
    --color-05: #e74c3c;
    --color-06: #00bbfe;
    --color-07: #ccaf64;

}

.title {
    font-family: 'Pacifico';
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle {
    font-family: 'Pacifico';
    font-size: 18pt;
    font-weight: bold;
}

.text {
    font-family: 'Courgette';
    font-size: 14pt;
    font-weight: 500;
}

.subtext {
    font-family: 'Courgette';
    font-size: 12pt;
    font-weight: 500;
}

.box_shadow_01 {
    -webkit-box-shadow: 1px 1px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 29px -8px rgba(0,0,0,0.75);
}